
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(2, 30, 41);
}
.card{
    width:80%;
    max-width: 470px;
    background:linear-gradient(135deg, #00feba, #3f3197,#00feba);
    color: whitesmoke;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border-radius:30px;
    outline: 0;
    background: #ebfffe;
    color: #999;
    padding: 10px 25px;
    height: 60px;
    border: 0;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search input:hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan;
}
.search button{
    border-radius:50%;
    outline: 0;
    background: #ebfffe;
    border: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background-color 2s ease-out 100ms;
}
.search button:hover{
    background-color: cyan;

}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h2{
    font-size: 80px;
    font-weight: 500;
    color: #ebfffe;
}
.weather h3{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 5px cyan,0 0 25px cyan;
    background: linear-gradient(135deg, #00feba, #3f3197,#00feba);
    padding: 15px 15px;
    
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 30px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

@media only screen and (max-width: 600px) {
    div.search {
        width: 100%;
        display:block;
       
    }
    .search input{ 
        padding: 5px 0px;  
        margin-right: 0px;
        font-size: 18px;
        text-align: center;
        margin-left: -15px;
    }
    .detail{
        display: block;
    }
    .col{
        margin-top: 20px;
    }
    .humidity, .wind{
        font-size: 20px;
        margin-top: -4px;
    }
    .search button{
        margin-top: 10px;
    }
  }